<!DOCTYPE html>
<html>

<head>


<meta charset="UTF-8">

<title>Profile Reactions</title>


<link rel="stylesheet" href="/css/app.css">


<style>


.reaction-card{

background:var(--bg2);
border:1px solid var(--border);
border-radius:15px;
padding:20px;
margin-top:20px;

}



.user{

display:flex;
gap:15px;
align-items:center;

}



.avatar{

width:60px;
height:60px;
border-radius:50%;
object-fit:cover;

}



.name{

font-size:18px;
font-weight:700;

}



.headline{

color:#999;
font-size:13px;

}



.action{

margin-top:15px;
background:var(--bg3);
padding:10px;
border-radius:20px;
display:inline-block;

}




.post{

margin-top:15px;
background:var(--bg3);
padding:15px;
border-radius:10px;

}



.stats{

display:flex;
gap:20px;
margin-top:15px;
color:#aaa;

}



</style>


</head>



<body>


<%- include('../partials/sidebar',{page:'profile-reactions'}) %>



<main class="main">


<header class="topbar">


<h1 class="topbar-title">

Profile Reactions

</h1>


</header>



<div class="content">



<div class="card">


<form method="POST">


<input

name="profile_url"

value="<%= profile_url || '' %>"

placeholder="LinkedIn URL"

required>


<button class="btn btn-primary">

Fetch →

</button>


</form>


</div>





<%


const reactions = result?.data?.reactions || [];


%>





<% reactions.forEach(item=>{ %>



<div class="reaction-card">



<div class="user">


<img

src="<%= item.author.profile_picture %>"

class="avatar"


>



<div>


<div class="name">


<%= item.author.firstName %>

<%= item.author.lastName %>


</div>



<div class="headline">

<%= item.author.headline %>

</div>


</div>



</div>





<div class="action">


❤️ <%= item.action %>


</div>





<div class="post">


<strong>

Post

</strong>


<p>

<%= item.text.substring(0,300) %>

...</p>


</div>






<div class="stats">


<span>

❤️ 

<%= item.post_stats.totalReactionCount %>

Likes

</span>




<span>


💬

<%= item.post_stats.comments %>

Comments


</span>




<span>

🕒

<%= item.timestamps.relative %>

</span>


</div>



</div>




<% }) %>






<% if(reactions.length===0 && result){ %>


<div class="card">

No reactions found

</div>


<% } %>



</div>


</main>



</body>


</html>